@import '../../node_modules/bootstrap/scss/bootstrap';
@import 'scss/fontawesome.scss';
@import 'scss/solid.scss/';
@import '../../node_modules/@splidejs/splide/dist/css/splide.min.css';


@mixin font($fname, $fstyle, $fweight, $furl) {
	@font-face {
		font-family: $fname;
		font-style: $fstyle;
        font-weight: $fweight;
        src: url($furl) format('woff2'); 
    }
}

@include font('playfair', normal, 400, '../fonts/PlayfairDisplay-Regular.woff2');
@include font('playfair', italic, 400, '../fonts/PlayfairDisplay-Italic.woff2');

$bg-color: #FEF9EF;
$font: 'playfair';
$black: #000;