div(class='site-nav button-primary')
  div(class='close-button-div')
    button(class='btn btn-primary close-nav')
  h3(class='cart-header') Category
  div(id='category-list')
  h3(class='cart-header') Cart
  div(id='cart-nav')
  div(class='text-right')
    a(href='/order' target='_blank' class='btn btn-primary button-order') Order