div(class='container')
  div(class='row')
    div(class='col col-lg-1 col-md-1 d-flex align-items-center')
      button(class='btn btn-primary show-nav')
    div(class='col col-lg-11 col-md-11')
      a(href='/')
        h1 Lite Shop